@charset "UTF-8";

// commom ADD
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
    // 100,300,400,500,700,900

    background: #fff;
    width:100%;
    height:100%;
}
#container{
    width: 425px;
    margin: 80px auto;
}
.essential{
    padding: 0 15px 15px 15px;
    &::before{
        content:"*";
        display: inline-block;
        color: red;
        position: absolute;
        margin-left: -15px;
        margin-top: 4px
    }
}
.text_guid{
    color: #888888;
    font-weight: 300;
    font-size: 1em;
}
.btn_st_01{
    height: 25px;
    background: #464646;
    color: #fff;
    padding: 0 10px;
    border-radius: 2px;
    font-weight: 500;
}
.btn_st_basic{
    margin: 0 auto;
    width:120px;
    height: 35px;
    border-radius: 4px;
    color:#fff;
    font-size: 1em;
    font-weight: 700;
    background: #464646;
}
.btn_st_submit{
    background: #bd252a;   
}

.btn_st_gray{
    width: 100%;
    height: 50px;
    background: #7b7b7b;
}
.btn_st_black{
    width: 100px;
    height: 50px;
    background: #373737;
}
.btn_st_orange{
    width: 100px;
    height: 50px;
    background: #fa960a;
}
// commom END
#container{
    border-radius: 4px;
}

.con-wrap{
    width: 100%;
    background: #dddddd;
    border:1px solid #c7c7c7;
    border-radius: 4px;
}
.calc{
    width: 100%;
    border-collapse: inherit;
    border-spacing: 5px;

    *{
        border-radius: 8px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
    tbody{
        
        tr{
            td{
                &:nth-of-type(1){

                }
            }
            &:last-child{
                td{

                }
            }
        }



        .lcd{
            width:100%;
            overflow: hidden;
            td{
                height: 85px;
            }
            .lcd_display_wrap{
                width:415px;
                overflow: hidden;
                padding:10px 20px;
                background: #70c738;

                .lcd_display{
                    width: 100%;
                    overflow: hidden;
                        text-align: right;
                        color: #373737;
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 65px; 
                        padding: 0 20px;
                }    
    
            }
        }

        .middle{
            text-align: center;
        }
        
        .key{
            text-align: center;
            td{
                margin-bottom: 10px;
            }
        }

        button:hover{
            opacity: 0.8;
        }
    }
}